body{
    background-color: rgb(255, 255, 255);
font-size: x-large;
}

img{
    width: 500px;
    height: 390px;
}

h1, h2{
    text-align: center;
}

h1, h2{
    color: #da1818;}


footer{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    text-align: center;
}
nav